body {
margin: auto auto;
}

#container {
    display: flex;
    padding: 10px;
}

.square {
    background-color: rgb(219, 219, 219);
    width: 5vw;
    height: 5vw;
    border-style: dotted;
}

.square:hover {
    background-color: yellow;
}